- 
  
  var navList = [
    {
      section:'О студии', 
      link:'#about-us'
    }, 
    {
      section:'Наши проекты', 
      link:'#projects'
    },
    {
      section:'Услуги', 
      link:'#'
    }, 
    
    {
      section:'Мастер-классы', 
      link:'#'
    }, 
    {
      section:'Контакты', 
      link:'#contacts'
    }
  ];

  var socialsList = [
    
    {
      path:'inst', 
      link:'#'
    }, 
    {
      path:'fb', 
      link:'#'
    }, 
    {
      path:'vk', 
      link:'#'
    }
  ];

  var worksList = [
    {
      title: 'Работы участников предыдущего мастер-класса',
      number:'2', 
    }, 
    {
      number:'3', 
    },
    {
      number:'4', 
    }
  ];

  var projectsList = [
    {
      type: 'block',
      number:'1',
      hashtag:'#пейзаж',
      descr:'Синтетически, смешаны с не уникальными данными до степени...',
      robotTime:'2020-06-16',
      time:'16 июня', 
    },
    {
      type: 'block',
      number:'2',
      hashtag:'#портрет',
      descr:'В своём стремлении улучшить опыт мы упускаем, что явные...',
      robotTime:'2020-05-28',
      time:'28 мая', 
    }, 
    {
      type: 'block',
      number:'3',
      hashtag:'#предмет',
      descr:'Равным образом, высокое качество позиционных высокотехнологичная концепция общественного уклада',
      robotTime:'2020-05-14',
      time:'14 мая', 
    },
    {
      type: 'grid',
      number:'4',
      hashtag:'#fuji',
      robotTime:'2020-04-09',
      timeIn:'9 апреля', 
      title:'Cемантический разбор',
      text:'В рамках спецификации современных стандартов, интерактивные прототипы',
      btn:'О проекте',
    },
    {
      type: 'block',
      number:'5',
      hashtag:'#ретушь',
      descr:'Как принято считать, многие известные личности и по сей день остаются уделом либералов...',
      robotTime:'2020-05-28',
      time:'28 мая', 
    },
    {
      type: 'block',
      number:'6',
      hashtag:'#портрет',
      descr:'С учётом сложившейся международной обстановки, новая модель организационной...',
      robotTime:'2020-05-14',
      time:'14 мая', 
    }, 
    {
      type: 'grid',
      number:'7',
      hashtag:'#проектзабвение',
      robotTime:'2020-03-20',
      timeIn:'20 марта', 
      title:'Забвение',
      text:'Играет важную роль в формировании глубокомысленных рассуждений',
      btn:'О проекте',
    }
  ];