.nav-list__link {
  transition: color 0.3s ease, outline 0.3s ease;
}

.nav-list__link:hover{
color: rgba(255, 153, 0, 1);
}

.nav-list__link:focus {
  outline: 2px solid #FF9900;;
}

.nav-list__link:active {
color: rgba(225, 103, 14, 1);
outline: none;
}

.nav-list__input:focus {
  outline: none
}

.search-btn, .search-btn path, .search-btn circle{
  transition: fill 0.2s ease, stroke 0.3s ease, outline 0.3s ease;
}

.search-btn:hover{
  outline: 2px solid #FF9900;
  }

.search-btn:focus {
  outline: none;
  }

.search-btn:focus path,.search-btn:focus circle {
    stroke:  rgba(255, 153, 0, 1);
  }

.search-btn:focus rect {
    fill:  rgba(255, 153, 0, 1);
  }

.search-btn:active {
    outline: none;
  }

.section-hero__btn {
  transition: background-color 0.3s ease;
}

.section-hero__btn:hover{
background-color: #ffb84d;
}

.section-hero__btn:focus {
  background-color: #ffb84d;
  outline: none;
}

.section-hero__btn:active {
  background-color: rgba(225, 103, 14, 1);
  outline: none;
}


.about-more__btn {
  transition: background-color 0.3s ease;
}

.about-more__btn:hover{
background-color: rgba(255, 153, 0, 1);
}

.about-more__btn:focus {
  background-color: rgba(255, 153, 0, 1);
  outline: none;
}

.about-more__btn:active {
  background-color: rgba(225, 103, 14, 1);
  outline: none;
}

.btn-both__btn-more {
  transition: background-color 0.3s ease;
}

.btn-both__btn-more:hover{
background-color:
rgba(247, 176, 69, 1);
}

.btn-both__btn-more:focus {
  background-color: rgba(247, 176, 69, 1);
  outline: none;
}

.btn-both__btn-more:active {
  background-color: rgba(225, 103, 14, 1);
  outline: none;
}

.btn-both__contract {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-both__contract:hover{
background-color:#666666;
color: white;
}

.btn-both__contract:focus {
  background-color: #666666;
  outline: none;
  color: white;
}

.btn-both__contract:active {
  background-color: #000000;
  outline: none;
  color: white;
}

.faq-list__text {
  transition: border 0.5s ease, color 0.3s ease;
}

.faq-list__item svg {
  transition: transform 1s ease;
}

.faq-list__item path {
  transition: fill 0.5s ease;
}

.faq-list__item:hover h3{
  color: rgba(255, 153, 0, 1);
  cursor: pointer;
  }

.faq-list__item:focus h3{
  color: rgba(255, 153, 0, 1);
  cursor: pointer;
}

.faq-list__item:active h3{
   color: rgba(255, 153, 0, 1);
  cursor: pointer;
}

.faq-list__item:hover {
border-color:rgba(255, 153, 0, 1);
cursor: pointer;
}

.faq-list__item:focus{
  border-color: rgba(255, 153, 0, 1);
  outline: none;
  fill: rgba(255, 153, 0, 1);
}

.faq-list__item:active {
  border-color: rgba(255, 153, 0, 1);
  outline: none;
}

.faq-list__item:hover path {
  fill: #FFFFFF;
}

.faq-list__item:hover ellipse {
  fill: rgba(255, 153, 0, 1);
}

.faq-list__item:focus path {
  fill: #FFFFFF;
}

.faq-list__item:focus ellipse {
  fill: rgba(255, 153, 0, 1);
}

.faq-list__item:active svg{
  transform: rotate(45deg);
  transform-origin: 25px 25px;
}

.faq-list__item:active path{
  fill: #666666;
}

.faq-list__item:active ellipse {
  fill: #ECECEC;
}

.footer-links__link {
  transition: color 0.3s ease;
}

.footer-links__link:hover{
color:rgba(255, 153, 0, 1);
}

.footer-links__link:focus {
  color:  rgba(202, 202, 202, 1);
  outline: 2px solid #FF9900;
}

.footer-links__link:active {
  color: rgba(225, 103, 14, 1);
  outline: none;
}

.application-form__item {
  transition: background-color 0.3s ease;
}

.application-form__item:hover{
background-color: #666666;
}

.application-form__item:focus {
  background-color: #666666;
  outline: 2px solid #FF9900;
}

.application-form__item:active {
  background-color: #666666;
  outline: none;
}

.social-link path{
  transition: fill 0.5s ease;
}

.social-link{
  transition: outline 0.5s ease;
}

.social-link:hover path {
  fill: #FF9900;
}

.social-link:focus {
 outline: 2px solid #FF9900;
}

.social-link:active path {
  fill: #E1670E;
  outline: none;
}

.application-form__btn {
  transition: background-color 0.3s ease;
}

.application-form__btn:hover{
background-color: #ffb84d;
}

.application-form__btn:focus {
  background-color: #ffb84d;
  outline: none;
}

.application-form__btn:active {
  background-color: rgba(225, 103, 14, 1);
  outline: none;
}
